/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


body{
  background-color: #EEE;
  font-size : 14px;
        font-family : "open sans", arial, sans-serif;
        color : black;
 
}

p{
    font-size:11pt;
}

#page{
    background-color : #eee;
      margin : 0;
      padding : 0;
      margin : -10px; 
    
   
}

          #sidebar{
    background-color: white;
     margin-left: 160px;
     padding-top: 20px;
    height:1220px;
         width:250px;
         position:absolute;
         
}

#content{
    background-color: white;
    
    height:1220px;
    margin-left: 410px;
    position:absolute;
    padding-top: 20px;
    width:780px;
    
}

#logo{
    margin-left: 160px;
    
}

#menu{
    background-color: whitesmoke;
   height: 50px;
  margin-left: 160px;
  margin-right: 160px;
  border-bottom: 3px solid red;
  border-radius: 10px;
  
}

ul#menu1 {
list-style: none;
font-size:16px;
margin:0 auto;
width: 400px;}
 
#menu1 li {float: left;}
 
#menu1 li a {
  color: black;
  font-weight: bold;
  display:block;
  line-height: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
 
#menu1 li a:hover, #menu1 li a.active {
  text-decoration:underline;
  color:red;
}


input::after,textarea::after,label::after{
    content: '\A'; 
}


h2,h1{
    color:red;
}

h3{
    font-style: italic;
    color:#E52B50;
      
}

.intestazione{
     background:#A9A9A9 ; 
     color:white;
}

.dati_d{
   background-color:  #E9E7E7;
}

.dati_p{
  background-color: #C9C9C9;  
}

td{
    height:40px;
}

 a:hover{
     
   text-decoration:underline;
    font-weight: bold; 
 }
 
 a:link,a:visited{
     color:#9e1616;
   
 }
 
 td{
     text-align: center;
 }
 .pezzi{
     width: 30px;
     text-align: center;
 }
 
 .carrello{
     width: 180px;
 }
 
 .foto{
     height:90px;
     width: 90px;
     
 }
 
 form{background:#EEE; 
     width:430px; 
     padding:5px;
     font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
     border:1px solid #333;
     
     
     }
 
   
     #pw{
         margin-top: 20px;
         margin-left: 55px;
     }
     
     #Username{
          margin-left: 50px;
     }
     
     #NomeProdotto{
         margin-left: 100px;
         
     }
     
     #UrlProdotto{
         margin-left: 15px;
         margin-top: 20px;
     }
     
     #Descrizione{
         margin-left: 84px;
         margin-top: 20px;
     }
     
     
     #Prezzo{
         margin-left: 180px;
         margin-top: 20px;
     }
     
     #Quantita{
         margin-left: 108px;
         margin-top: 20px;
     }
     
     label:hover{background-color:#CCC;
         
}

 input:focus, textarea:focus{
     border-color:red;
   
      }
      
     
      
      .pulsante{
        
         margin-left:5px;margin-right:5px; margin-bottom:5px;
         background:#A9A9A9 ; 
         color:#fff;
         text-transform:uppercase; 
         font-weight:bold; 
         padding:3px 5px; 
         border:2px solid #535353;
         margin-top: 20px;
        
         
          
      }
      
      .pulsante:hover{  
             background-color:#535353; 
             border-color:#A9A9A9 ;
      color:#fff;}
      
      .social_footer{
          text-align: right;
          list-style: none;
          
      }

      .social_footer ul li{
        display: inline-block;
        overflow: hidden;
        
       

    }
      
      #facebook{
          height:40px;
          width: 40px;
          background-image: url('../img/fb.png');
          background-repeat: no-repeat;
          background-size: cover;
      }

    #twitter{
         width: 40px;
        height: 40px;
         background-image: url('../img/tw.png');
          background-repeat: no-repeat;
          background-size: cover;
        margin-left: 20px;
    }
    #google{
         width: 40px;
        height: 40px;
         background-image: url('../img/google.png');
          background-repeat: no-repeat;
          background-size: cover;
        margin-left: 20px;
    }
    #youtube{
        width: 40px;
        height: 40px;
        background-image: url('../img/yt.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 20px;
    }
    
    #social{
        text-align: right;
        color:white;
        font-weight: bold;
    }


#footer:before {
        left: 0;
       
        content: "";
        position: absolute;
        display: block;
        margin-top:0px;

    }

   

footer{
        padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
        padding-top: 0px;
        min-height: 20px;
        position: relative;
        margin-right: 162px;
        margin-left: 160px;
        background-color: #9A9A9A;
        top:1220px;
    } 
    
    @media only screen and (min-width: 1024px){
    
         .box{
             border:1px solid black;
             margin-right: 300px;
          }
          
              #sidebar{
    background-color: white;
     margin-left: 160px;
     padding-top: 20px;
    height:1220px;
         width:250px;
         position:absolute;
         
}

#content{
    
    
    
    margin-left: 410px;
    position:absolute;
    padding-top: 20px;
    width:780px;

}

}


@media only screen and (min-width: 480px) and (max-width: 1024px){
    #sidebar{ margin:0px;
     padding:0px;
  }
    
    #logo{
    margin-left: 0px;
}

#menu{ 
   
  margin-left: 5px;
  margin-right: 5px;

 
}

#content{
    margin-left:200px;
}


 .social_footer{
          text-align: right;
          list-style: none;
          
      }

      .social_footer ul li{
        display: inline-block;
        /*overflow: hidden;*/
     }
      
      #facebook{
          height:30px;
          width: 30px;
      }

    #twitter,#google,#youtube{
         width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    
    #social{
        
       color:white;
        font-weight: bold;
    }


   

footer{
        padding-left: 5px;padding-right: 5px;padding-bottom: 5px;
        padding-top: 0px;
        min-height: 20px;
        position: relative;
        margin: 0px;
        background-color: #9A9A9A;
        top:1150px;
    } 

}



  @media only screen and (max-width: 480px){
      
      body{
      margin:5px;
}
#page{ margin:0;
    padding:5px;
    
   
}
          #sidebar{
              display: none;
        }
        
        .social_footer,footer{
            display: none;
        }
        
            #content {
        padding-bottom: 10px;
        margin:0; margin-left: 5px;
        padding:0; padding-bottom: 5px;padding-top: 5px;
        width:430px;
         height:1420px;
    }
    
    #menu{
   height: 40px;
  margin:5px;margin-bottom: 0px;
  border-bottom: 3px solid red;
  border-radius: 10px;
  
  
}

ul#menu1 {

margin:0px;
}
 

 

     








#logo{
    margin-left: 5px;
    width: 50px;
}
 form{ 
     width:430px; 
    
     
     
     }
  }